/*.container {
    padding: 40px;
    margin: 0 auto;
}*/

h1 ,h2, h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}

.header {
  position: relative;
  padding-top: 6.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8eef2), to(#d3dde4));
  background: linear-gradient(#e8eef2, #d3dde4);
  overflow: hidden;
}

.logo {
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
  margin: 0 auto 3rem;
  background: url("https://goo.gl/gO8nUV") 50%/cover;
  opacity: 0;
  -webkit-transform: rotate(-2turn) scale(0);
          transform: rotate(-2turn) scale(0);
  -webkit-animation: fade-content 1s 1.2s cubic-bezier(0.2, 1, 0.2, 1) forwards;
          animation: fade-content 1s 1.2s cubic-bezier(0.2, 1, 0.2, 1) forwards;
}

.arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  opacity: 0;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-animation: fade-content 0.5s 2.2s cubic-bezier(0.2, 1, 0.2, 1) forwards;
          animation: fade-content 0.5s 2.2s cubic-bezier(0.2, 1, 0.2, 1) forwards;
}
.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 1.5em solid transparent;
}
.arrow::before {
  border-right: 1em solid #c7deef;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: translate(calc(-100%), -75%) skewY(-25deg);
          transform: translate(calc(-100%), -75%) skewY(-25deg);
}
.arrow::after {
  border-left: 1em solid #5a7695;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate(1px, -75%) skewY(25deg);
          transform: translate(1px, -75%) skewY(25deg);
}

.slogan {
  max-width: 630px;
  margin: 0 auto 3.5rem;
  color: #023161;
  font: 100 26px / 1.5 sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  opacity: 0;
  -webkit-transform: perspective(800px) rotateX(-60deg) translateY(50px);
          transform: perspective(800px) rotateX(-60deg) translateY(50px);
  -webkit-animation: fade-content 0.85s 2.1s cubic-bezier(0.2, 1, 0.2, 1) forwards;
          animation: fade-content 0.85s 2.1s cubic-bezier(0.2, 1, 0.2, 1) forwards;
}
.slogan .ps {
  color: #fff;
  text-transform: lowercase;
  text-shadow: 0 1px 2px rgba(0, 30, 50, 0.15);
}

.circle {
  position: absolute;
  top: calc(50% - 10vw);
  left: calc(50% - 50vw);
  width: 200vw;
  height: 200vw;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.1);
  background-image: linear-gradient(45deg, rgba(255, 179, 103, 0.75) 55%, rgba(185, 93, 215, 0.75), rgba(0, 215, 185, 0.75) 72%);
  -webkit-transform: translate(100%, 500px);
          transform: translate(100%, 500px);
  -webkit-animation: fade-content 1.2s 0.7s cubic-bezier(0.2, 1, 0.2, 1) forwards;
          animation: fade-content 1.2s 0.7s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  mix-blend-mode: darken;
}
.circle.c2 {
  top: calc(50% - 1vw);
  left: calc(50% - 90vw);
  width: 250vw;
  height: 250vw;
  background-image: linear-gradient(45deg, rgba(255, 207, 159, 0.75) 62.5%, rgba(206, 151, 223, 0.75), rgba(141, 198, 216, 0.75) 70%);
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.hill {
  position: relative;
  height: 8.5rem;
  overflow: hidden;
}
.hill::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 1rem;
  left: 50%;
  width: 1000vw;
  height: 1000vw;
  -webkit-transform: translate(calc(-50% + 35vw), 0);
          transform: translate(calc(-50% + 35vw), 0);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 .5rem, 0 0 2rem, 0 0 3rem;
}

@-webkit-keyframes fade-content {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade-content {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}


a.button6{
 display:inline-block;
 padding:0.7em 1.4em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.15em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 text-transform:uppercase;
 font-weight:400;
 color:#FFFFFF;
 background-color:#3369ff;
 box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
 text-align:center;
 position:relative;
}
a.button6:active{
 top:0.1em;
}
@media all and (max-width:30em){
 a.button6{
  display:block;
  margin:0.4em auto;
 }
}
